body {
    display: flex;
    justify-content: center;
}

.canvas-container {
    width: 512px;
    height: 512px;
    border: 2px solid black;
}

.square {
    margin: 0;
    padding: 0;
    border: 0;
}

.row {
    display: flex;
    justify-content: stretch;
}

.square-filled {
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
}