body {
    display: flex;
    justify-content: center;
}

.square {
    border: solid black;
    width: 32px;
    height: 32px;
}

.row {
    display: flex;
}

.square-filled {
    background-color: black;
    border: solid black;
    width: 32px;
    height: 32px;
}